<h1 style="text-align: center;margin: 20px;">
	Let's us export data in excel using exceljs
</h1>
<table class="table table-dark table-sm">
	<thead>
		<tr>
			<th scope="col" *ngFor="let column of countriesColumns">{{column.label}}</th>
		</tr>
		<!-- <tr>
			<th scope="col">#</th>
			<th scope="col">Country</th>
			<th scope="col">Area</th>
			<th scope="col">Population</th>
		</tr> -->

		<!-- <tr *ngFor="let column of countriesColumns">
			<th scope="col">{{column.label}}</th>
			<th scope="col">Country</th>
			<th scope="col">Area</th>
			<th scope="col">Population</th>
		</tr> -->
	</thead>
	<tbody>
		<tr *ngFor="let country of countries">
			<th scope="row">{{ country.id }}</th>
			<td>
				<img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="me-2"
					style="width: 20px" />
				{{ country.name }}
			</td>
			<td>{{ country.area | number}}</td>
			<td>{{ country.population | number }}</td>
		</tr>
	</tbody>
</table>

<div class="d-flex justify-content-between p-2">
	<ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
		(pageChange)="refreshCountries()">
	</ngb-pagination>

	<select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()">
		<option [ngValue]="2">2 items per page</option>
		<option [ngValue]="4">4 items per page</option>
		<option [ngValue]="6">6 items per page</option>
	</select>
</div>
<div style="text-align: center;">
	<button type="button" class="btn btn-danger" (click)="exportToExcel()">Export to Excel</button>
</div>
<!-- <div class="alert alert-success alert-dismissible  fade show" *ngIf="showSuccess">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	  </button>
	<strong>File exported successfully.</strong>
</div>
<div class="alert alert-warning" role="alert" *ngIf="showFailure" data-dismiss="alert" aria-label="Close">
	Invalid export file.
</div> -->
